.vscode/**
.vscode-test/**
out/**
**/node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig*.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
webview/src/**
webview/scripts/**
webview/index.html
webview/package.json
webview/package-lock.json
webview/vite.config.ts
PROJECT_STATE.md